.container {
  display: flex;
  flex-direction: column;
  width: 75%;
  overflow-y: auto;
  // align-items: center;
  margin: 25px;
}

.topNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #253342;
  padding: 5px 20px;
  color: white;
  font-size: 11px;
  font-weight: 600;
  position: sticky;
  top: 0;
  z-index: 100;

  .navLeft,
  .navRight {
    display: flex;
    gap: 10px;
  }

  .navButton {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 10px 12px;
    border-radius: 3px;
    font-size: 10px;
    font-weight: 600;
    cursor: pointer;
    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }

  .navLogo {
    background-color: transparent;
    border: none;
  }

  .publishButton {
    background-color: rgb(255, 89, 66);
    color: #ffffff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    font-size: 10px;
    cursor: pointer;
  }
}

.content {
  display: flex;
  top: 58px;
}

.sidebar {
  width: 25%;
  display: block;
  position: sticky;
  background-color: white;
  border-right: 1px solid #e5e7eb;
  color: #33475b;
  top: 50px;
  height: calc(100vh - 50px);

  .sidebarHeader {
    padding: 16px;
    border-bottom: 1px solid #e5e7eb;
    & h2 {
      font-size: 1.125rem;
      margin: 0;
    }
  }

  .sidebarList {
    padding-left: 2px;
    list-style: none;
    margin: 0;
    & li {
      cursor: pointer;
      padding: 8px 15px;
      font-size: 0.8rem;
      transition: background-color 0.3s;
      &:hover {
        background-color: #e5f5f8;
      }
      &.active {
        background-color: #e5f5f8;
        font-weight: bold;
        color: rgb(51, 71, 91);
        border-left: 4px solid rgb(0, 164, 189);
      }
    }
  }
}

@media only screen and (max-width: 786px) {
  .sidebar {
    display: none;
  }
  .container {
    width: 100%;
  }
}
.lastUpdated {
  margin: 0px;
  font-size: small;
  margin-bottom: 20px;
}

.guideTitle {
  font-size: 2rem;
  margin: 0;
  margin-bottom: 16px;
  color: #33475b;
}
.guideDescription {
  font-size: 1.25rem;
  margin: 0;
  margin-bottom: 8px;
  color: #2563eb;
}
.stepsContainer {
  display: flex;
  flex-direction: column;

  .stepContainer {
    margin-bottom: 10px;
    // &:hover {
    //   background-color: rgba(98, 94, 94, 0.05);
    // }
  }

  .tabTitle {
    color: #33475b;
  }
  .titleIndex {
    display: flex;
    margin: 0;
    margin-top: 8px;
    margin-bottom: 5px;
    align-items: center;
    gap: 5px;
  }
  .imageTitle {
    margin: 0;
    color: #33475b;
  }
  .imageIndex {
    margin: 0;
    // margin-left: 12px;
    background-color: #e5f5f8;
    color: #33475b;
    font-weight: 600;
    padding: 4px 12px;
    border-radius: 25px;
  }
  .imageDescription {
    font-size: 0.75rem;
    margin: 0;
    margin-bottom: 10px;
    margin-left: 15px;
    color: gray;
  }
  .stepImage {
    display: flex;
    // justify-content: center;
    overflow: hidden;
    img {
      max-width: 50vw;
      object-fit: contain;
      max-height: 450px;
      @media only screen and (max-width: 786px) {
        max-width: 80vw;
      }
    }
  }
  .bubble {
    width: 20px;
    height: 20px;
    background-color: rgba(255, 0, 0, 0.5);
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    animation: blink 1s infinite;
  }

  .getStartedContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 600;
    padding: 32px;
    background-color: rgb(51, 71, 91);
    padding-inline: 60px;
    border-radius: 4px;
    gap: 20px;
    .getStarted {
      background-color: rgb(255, 122, 89);
      border-radius: 3px;
      font-weight: 600;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
      padding: 7px;
      &:hover {
        cursor: pointer;
        background-color: rgb(255, 89, 66);
      }
      p {
        color: white;
        margin: 0;
        font-weight: 600;
      }

      .svgIcon {
        fill: white;
        inline-size: 18px !important;
        block-size: 18px !important;
      }
    }
  }
  @keyframes blink {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    50% {
      opacity: 0.3;
      transform: scale(1.5);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}
