.step {
  position: relative;
  background-color: #ffffff;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 0px 7px rgba(0, 0, 0, 0.1);
  margin: 10px 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.stepDragger {
  position: absolute;
  left: 5px;
  top: 10px;
  transform: translateY(-50%);
  opacity: 0.5;
  transition: opacity 0.2s;
  cursor: grab;
}

.stepDragger:hover {
  opacity: 1;
}

.step {
  position: relative;
  transition: transform 0.2s;
}

.step:hover {
  transform: translateX(5px);
}

.dragging {
  opacity: 0.5;
  transform: scale(0.95);
}

.drop-target {
  border: 2px dashed #2da9e1 !important;
  margin: 10px 0;
}

.step:hover .stepActionContainer {
  visibility: visible;
}

.stepActionContainer {
  visibility: hidden;
  position: absolute;
  margin: 5px;
  top: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  gap: "0.5rem";
  background-color: #33475b;
  border-radius: 5px;
  overflow: hidden;
}

.stepActionContainer button {
  padding: 7px;
  background: none;
  border: none;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
}

.stepActionContainer button:hover {
  background-color: #506e91;
  color: rgb(255, 89, 66);
}

.tooltip {
  position: absolute;
  top: 40px;
  right: 0;
  background: rgb(51, 71, 91);
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.tooltip button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  text-align: left;
  border-radius: 5px;
}

.tooltip button:hover {
  background: #506e91;
}

.stepHeader {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.stepNumber {
  background-color: #e5f5f8;
  color: #33475b;
  font-weight: 600;
  padding: 4px 12px;
  border-radius: 9999px;
}

.stepDescription {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
  margin-bottom: 10px;
}

.imageContainer {
  display: flex;
  align-items: center;
}

.stepImage {
  position: relative;
  height: auto;
  max-height: 600px;
  max-width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.imageContainer:hover .imageActionContainer {
  visibility: visible;
}

.imageActionContainer {
  visibility: hidden;
  position: absolute;
  margin: 5px;
  top: 5px;
  right: 5px;
  display: flex;
  align-items: center;
  gap: "0.5rem";
  background-color: #33475b;
  border-radius: 5px;
  overflow: hidden;
}

.imageActionContainer button {
  padding: 7px;
  background: none;
  border: none;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
}

.imageActionContainer button:hover {
  background-color: #506e91;
  color: rgb(255, 89, 66);
}
