.topNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #253342;
  padding: 10px 20px;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  position: sticky;
  top: 0;
  /* width: 100%; */
  z-index: 100;
}
.topNavbar button:disabled {
  cursor: not-allowed;
}

.navLeft,
.navRight {
  display: flex;
  gap: 10px;
}

.navTitle {
  font-size: small;
  display: flex;
  align-items: center;
}

.navButton {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.navButton:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.publishButton {
  background-color: rgb(255, 89, 66);
  color: #ffffff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.publishButton:hover {
  background-color: rgb(238, 48, 27);
}

.publishButton.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.mobileActionButtons {
  display: none;
}

@media only screen and (max-width: 600px) {
  .topNavbar {
    display: none;
    font-size: small;
    font-weight: normal;
    padding: 0px 0px;
  }
  .mobileActionButtons {
    gap: 5px;
    display: block;
    position: absolute;
    overflow: hidden;
    bottom: 5px;
    right: 5px;
    background-color: #506e91;
    padding: 5px;
    border-radius: 8px;
  }
  .mobileActionButtons button {
    gap: 5px;
  }
}
