/* body {
  background-color: #f3f4f6;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
} */

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 25%;
  background-color: #ffffff;
  border-right: 1px solid #e5e7eb;
  overflow-y: auto;
  position: sticky;
  top: 0;
  height: 100vh;
}

.sidebarList {
  padding: 16px;
  list-style: none;
  margin: 0;
}

.sidebarHeader {
  padding: 16px;
  border-bottom: 1px solid #e5e7eb;
}

.sidebarHeader h2 {
  font-size: 1.125rem;
  margin: 0;
}

.sidebarList li {
  cursor: pointer;
  padding: 8px 15px;
  margin-bottom: 8px;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.sidebarList li:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.sidebarList li.active {
  background-color: rgba(0, 0, 0, 0.1);
  font-weight: bold;
  color: rgb(44, 169, 225);
}

.mainContent {
  width: 75%;
  padding: 32px;
  overflow-y: auto;
}
.header {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 16px;
}

.publishButton {
  background-color: rgb(255, 89, 66);
  color: #ffffff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.publishButton:hover {
  background-color: rgb(238, 48, 27);
}
.publishButton.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.steps {
  margin-top: 32px;
}

.step {
  background-color: #ffffff;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin: 10px 0;
}
.delMoveDevider {
  display: flex;
  justify-content: space-between;
}
.moveIcon {
  cursor: pointer;
}
.deleteButton {
  color: rgb(255, 89, 66);
  display: flex;
  justify-content: flex-end;
  font-size: small;
  font-weight: bolder;
  cursor: pointer;
}
.stepHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.stepNumber {
  background-color: #eef4fc;
  color: rgb(44, 169, 225);
  font-weight: 600;
  padding: 4px 12px;
  border-radius: 9999px;
}

.stepDescription {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
  margin-bottom: 10px;
}

/* .editButton {
  background: none;
  border: none;
  color: #4b5563;
  font-size: 1rem;
  cursor: pointer;
} */

.imageContainer {
  display: flex;
  align-items: center;
}

.stepImage {
  height: auto;
}

.blinkingBubble {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: rgba(255, 0, 0, 0.5);
  border-radius: 50%;
  animation: blink 1s infinite;
  transform: translate(-50%, -50%);
  z-index: 10;
  cursor: grab;
}

@keyframes blink {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.3;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.swapContainer {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
}

.swapIcon {
  object-fit: contain;
}

.popover {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: rgba(232, 222, 222, 0.8);
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
}

/* Popup modeel */
/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f3f4f6;
  margin: 0;
} */

.modal {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: auto;
  min-width: 350px;
  z-index: 1001;
}

.modalHeader {
  background-color: rgb(44, 169, 225);
  color: white;
  padding: 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modalHeader span {
  font-size: 18px;
  font-weight: 600;
}

.modalBody {
  padding: 24px;
}

.modalFooter {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
  border-top: 1px solid #e0e0e0;
}

.modalFooter button {
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.modalFooter .cancelBtn {
  background-color: #e0e0e0;
  color: #33475b;
  margin-right: 8px;
}

.modalFooter .publishBtn {
  background-color: rgb(255, 89, 66);
  color: white;
}
.publishBtn:hover {
  background-color: rgb(238, 48, 27);
}

.linkModel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 5px;
}
.linkContainer {
  width: 75%;
}
.linkModel input {
  width: 100%;
  text-decoration: none;
  border: none;
  border-bottom: 1px solid #c4c4c4;
  border-left: 1px solid #c4c4c4;
  border-bottom-left-radius: 5px;
  /* margin: 10px 0; */
}
.copyLinkContainer {
  width: 35%;
  display: flex;
  justify-content: center;
}

/* with backdrop */
.model {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

@media only screen and (max-width: 600px) {
  /* body {
    background-color: lightblue;
  } */
  .sidebar {
    display: none;
  }
  .mainContent {
    width: 100%;
  }
}
